@model FinanceChecker.Models.Transaction

<h2>Add Transaction</h2>

<form method="post" asp-action="CreateTransaction">
    <div class="form-group">
        <label for="accountId">Account ID:</label>
        <select class="form-control" name="AccountID" id="accountId" required>
            <option value="">Select an account</option>
            @if (ViewBag.Accounts != null)
            {
                foreach (var account in ViewBag.Accounts)
                {
                    <option value="@account.AccountID">@account.AccountID - (@account.InstitutionName)</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="institutionName">Institution Name:</label>
        <select class="form-control" name="InstitutionName" required>
            <option value="">Select name of institution with Account ID</option>
            @if (ViewBag.Accounts != null)
            {
                @foreach (var account in ViewBag.Accounts)
                {
                    <option value="@account.InstitutionName">@account.InstitutionName - (@account.AccountID)</option>
                    @*<input class="form-control" type="text" name="InstitutionName" value="@account.InstitutionName" readonly>*@
                }
            }
        </select>
    </div>

    @*id="institutionName"*@

    <div class="form-group">
        <label for="amount">Amount:</label>
        <small class="form-text text-muted">Enter a positive or negative amount (e.g. 10 or -20)</small>
        <input class="form-control" type="number" name="Amount" step="0.01">

    </div>

    <div class="form-group">
        <label for="Category">Category:</label>
        <select class="form-control" name="Category" id="Category" required>
            <option value="">Select a category</option>
            @if (ViewBag.Categories != null)
            {
                // iterate through collections in a simple manner
                var categories = (IEnumerable<SelectListItem>)ViewBag.Categories;
                foreach (var category in categories)
                {
                    <option value="@category.Text">@category.Text</option>
                }
            }
        </select>
    </div>



    <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" type="text" name="Description">
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input class="form-control" type="text" name="Date" value="@DateTime.Now" readonly>
    </div>

    <input type="hidden" name="UserID" value="@ViewBag.Id">
    <input type="hidden" name="CreatedAt" value="@DateTime.Now">
    <input type="hidden" name="UpdatedAt" value="@DateTime.Now">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
