@model Account

<h2>Edit Account</h2>

<form method="post" asp-action="UpdateAccount">
    <input type="hidden" name="AccountID" value="@Model.AccountID" />

    <div class="form-group">
        <label for="syncType">Sync Type:</label>
        <div>
            <input type="radio" name="syncType" value="manual" @(Model.syncType == "manual" ? "checked" : "")> Manual Sync
            <input type="radio" name="syncType" value="automatic" @(Model.syncType == "automatic" ? "checked" : "")> Automatic Sync
        </div>
    </div>

    <div class="form-group">
        <label for="accountType">Select Account Type:</label>
        <select class="form-control" id="AccountType" name="AccountType" required>
            <option value="BankAccount">Bank Account</option>
            <option value="CreditCard">Credit Card</option>
            <option value="Investment">Investment Account</option>
        </select>

    </div>

    <div class="form-group">
        <label for="accountNumber">Account Number:</label>
        <input class="form-control" type="text" name="AccountNumber"
               value="@Model.AccountNumber" required>
    </div>

    <div id="institutionNameField" class="form-group" style="display: none;">
        <label for="institutionName">Enter Institution Name:</label>
        <input class="form-control" type="text"
               name="InstitutionName" value="@Model.InstitutionName" required>
    </div>

    <div id="balanceField" class="form-group">
        <label for="balance">Balance:</label>
        <input class="form-control" type="number" name="Balance" value="@Model.Balance.ToString("N2")" step="0.01">
        <small class="form-text text-muted">Enter a positive or negative amount (e.g. 10 or -20)</small>
    </div>

    <div id="submitField" class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="Submit">Submit</button>
        <a href="/Account/Index" class="btn btn-secondary">Cancel</a>

    </div>

    <div id="validateField" class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="Validate">Validate</button>
        <a href="/Account/Index" class="btn btn-secondary">Cancel</a>
    </div>

    
</form>
