@*@{
        ViewData["Title"] = "Home Page";
    }*@

@model List<FinanceChecker.Models.Account>


<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="CreateAccount">Add Account</a>
</div>
<p>Total Balance: £@ViewBag.TotalBalance.ToString("N2")</p>


<h2>My Accounts</h2>

@if (Model.Count == 0)
{
    <p>No accounts found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Sync Type</th>
                <th>Account Type</th>
                <th>Account Number</th>
                <th>Institution Name</th>
                <th>Balance</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.AccountID</td>
                    <td>@account.syncType</td>
                    <td>@account.AccountType</td>
                    <td>@account.AccountNumber</td>
                    <td>@account.InstitutionName</td>
                    <td>@account.Balance.ToString("N2")</td>
                    <td>@account.CreatedAt</td>
                    <td>@account.UpdatedAt</td>
                    <td>
                        <a href="@Url.Action("EditAccount", "Account", new { AccountID = account.AccountID })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("DeleteAccount", "Account", new { AccountID = account.AccountID })" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

