@model IEnumerable<Savings>

<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Savings" asp-action="CreateSavings">Add a New Saving Goal</a>
</div>

<h2>Savings Plan</h2>
<table>
    <thead>
        <tr>
            <th>Savings Name</th>
            <th>Target Amount</th>
            <th>Amount saved</th>
            <th>Progress</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var savings in Model)
        {
            <tr>
                <td>@savings.SavingsName</td>
                <td>£@savings.Goal.ToString("0.00")</td>
                <td>£@savings.CurrentSavings.ToString("0.00")</td>
                <td>@savings.Progress.ToString("0.00")%</td>
                <td>@savings.DueDate.ToShortDateString()</td>
                <td>
                    <a asp-controller="Savings" asp-action="EditSavings" asp-route-id="@savings.SavingsID">Edit</a> |
                    <a asp-controller="Savings" asp-action="DeleteSavings" asp-route-id="@savings.SavingsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>