@model List<Bill>

<h2>Bills & Reminders</h2>

<p>
    <a asp-action="CreateBill" class="btn btn-primary">Create New Bill</a>
</p>

<div class="container">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Bill Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.BillName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>£@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                        <td>
                            <a asp-action="EditBill" asp-route-id="@item.BillID" class="btn btn-primary">Edit</a>
                            <a asp-action="DeleteBill" asp-route-id="@item.BillID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
    <div></div>
    <div class="calendar-container">
        <div id='calendar'></div>
    </div>
</div>


<style>
    .container {
        display: flex;
    }

    .calendar-container,
    .table-container {
        flex: 1;
        padding: 10px;
    }
</style>



